.collectionGrid {
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-template-rows: max-content;
}

@media (min-width: 769px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
