.suggestedProducts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-inline: 1rem;
  background-color: white;
  position: relative;
}

.suggestedProductsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

@media (min-width: 769px) {
  .suggestedProductsGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
  }
}
