.wishlistItem {
  display: flex;
  cursor: pointer;
}

.imageContainer {
  width: 150px;
  aspect-ratio: 1;
}

.imageContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  position: relative;
  z-index: -1;
}

.contentCotainer {
  flex: 1;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 5px;
  padding: 1rem;
}
.removeItem {
  justify-self: flex-end;
  align-self: flex-start;
  font-size: 20px;
  display: flex;
  font-size: 13px;
}

.wishlistItemPrice {
  font-size: 14px;
  color: #444;
}

.quantitySelector {
  grid-column: 1;
  grid-row: 3;
  font-size: 20px;
  color: #777;
}
.quantitySelector button {
  padding: 5px;
  width: 30px;
  aspect-ratio: 1;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.quantitySelector button:disabled {
  box-shadow: rgba(200, 200, 200, 0.02) 0px 1px 3px 0px,
    rgba(127, 131, 135, 0.15) 0px 0px 0px 1px;
}

.quantitySelector button:disabled i {
  color: #ccc;
}

.quantitySelector span {
  padding: 5px;
  width: 30px;
  text-align: center;
  display: inline-block;
}

.totalPrice {
  grid-column: 2;
  grid-row: 3;
  align-self: center;
  font-size: 18px;
}

.chipHolder {
  display: flex;
  gap: 5px;
  grid-row: 3;
  align-self: flex-end;
}

.chipHolder span {
  border: 1px solid #777;
  color: #121212;
  padding: 5px;
}
